.portfolio {
  min-height: 100vh;
  margin-top: @headerHeight;
  @media @mqWidthTablet {
    margin-top: 0;
    margin-left: @sidebarWidth;
  }
}

.project {
  height: @projectHeight;
  margin: @tinyGap;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  text-align: right;
  @media @mqWidthTablet {
    margin: @projectGap;
  }
  &:nth-of-type(even) {
    @media @mqWidthDesktop {
      flex-flow: row-reverse nowrap;
      text-align: left;
      .image-container {
        margin-right: 0;
        margin-left: @projectGap;
      }
      .description-container {
        align-items: flex-start;
      }
      .project__tags {
        flex-flow: row-reverse wrap;
      }
    }
  }
  &:nth-of-type(3n-2) {
    .image-container {
      background-color: @green;
    }
    .description-container {
      background-color: @red;
    }
  }
  &:nth-of-type(3n-1) {
    .image-container {
      background-color: @blue;
    }
    .description-container {
      background-color: @yellow;
    }
  }
  &:nth-of-type(3n) {
    .image-container {
      background-color: @orange;
    }
    .description-container {
      background-color: @pink;
    }
  }
}

.image-container {
  width: 100%;
  height: 100%;
  padding: @normalGap;
  overflow: hidden;
  display: flex;
  @media @mqWidthDesktop {
    width: 70%;
    margin-right: @projectGap;
  }
}

.image {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}

.description-container {
  width: @descriptionMinWidth;
  height: 100%;
  padding: @normalGap;
  position: absolute;
  right: 0;
  display: none;
  flex-flow: column nowrap;
  align-items: flex-end;
  @media @mqWidthDesktop {
    width: 30%;
    min-width: @descriptionMinWidth;
    position: relative;
    display: flex !important;
  }
  .project--open & {
    display: flex;
  }
}

.project__description {
  line-height: @normalLine;
  max-width: @descriptionMaxWidth;
}

.project__tags {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

.project--hidden {
  display: none !important;
}
